<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">
    E-voting System
  </a>
  <div>
    <!-- <button class="btn btn-outline-light" routerLink="/settings">
      Settings
    </button> -->
    <!-- &nbsp;
    <button class="btn btn-outline-light" routerLink="/new/transaction">
      Create transaction
    </button> -->
    <!-- &nbsp; -->
    <!-- <button class="btn btn-outline-light" routerLink="/new/transaction/pending">
      Pending transactions
    </button>
    &nbsp; -->
    <button class="btn btn-outline-light" (click)="logout()">
      Logout
    </button>
  </div>
</nav>
