.container {
  height: 675px;
}

h1.text-center {
  padding-top: 20px;
}

.right {
  float: right;
}

.margin-t {
  margin-top: 80px;
}

.width-15 {
  width: 15%;
}

.error {
  color: red;
  margin-top: 20px;
}
